body {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

.random-quote-wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

#quote-box {
    font-size: 18px;
    letter-spacing: 3px;
    padding: 15px;
}

#author-box {
    font-weight: bold;
    padding: 20px;
}

#button {
    border: solid 2px black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s;
}

#button:hover {
    transition: .3s;
}